[submodule "libraries/Fastor"]
	path = libraries/Fastor
	url = https://github.com/romeric/Fastor.git
[submodule "libraries/xtensor"]
	path = libraries/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "libraries/xtensor-blas"]
	path = libraries/xtensor-blas
	url = https://github.com/xtensor-stack/xtensor-blas.git
[submodule "libraries/xtl"]
	path = libraries/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "libraries/lapack"]
	path = libraries/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
[submodule "libraries/OpenBLAS"]
	path = libraries/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "libraries/eigen"]
	path = libraries/eigen
	url = https://gitlab.com/libeigen/eigen.git
